.objectInList {
 	margin: 20px;
}

.objectInList:hover {
	cursor: pointer;
}

#wall {
	width: 40px;
	height: 70px;
	background-image: url("../images/wallTexture.png");
	background-color: grey;
}

#captive {
	width: 28px;
	height: 73px;
	background-image: url("../images/captive.png");
}

.captive {
	width: 28px;
	height: 73px;
	background-image: url("../images/captive.png");
	position: absolute;
}


.wall {
	width: 40px;
	height: 70px;
	background-image: url("../images/wallTexture.png");
	background-color: grey;
	position: absolute;
}

#wallBlock {
	width: 128px;
	height: 128px;
	background-image: url("../images/wallBlock.png");

}


.wallBlock {
	width: 128px;
	height: 128px;
	background-image: url("../images/wallBlock.png");
	position: absolute;
}



#redBlock {
	width: 128px;
	height: 128px;
	background-image: url("../images/redBlock.png");

}


.redBlock {
	width: 128px;
	height: 128px;
	background-image: url("../images/redBlock.png");
	position: absolute;
}

#cube {
	width: 128px;
	height: 128px;
	background-image: url("../images/cube.png");

}


.cube {
	width: 128px;
	height: 128px;
	background-image: url("../images/cube.png");
	position: absolute;
}


#bannanas {
	width: 128px;
	height: 128px;
	background-image: url("../images/bannanas.png");

}


.bannanas {
	width: 128px;
	height: 128px;
	background-image: url("../images/bannanas.png");
	position: absolute;
}





.Tree {
	width: 128px;
	height: 128px;
	background-image: url("../images/Tree.png");
	position: absolute;
}


#Tree {
	width: 128px;
	height: 128px;
	background-image: url("../images/Tree.png");

}

.selected {
	box-shadow: 0px 0px 25px 15px rgba(0,187,255,1);
	background-color: rgba(0,187,255,0.97);
}
