* {
  box-sizing: border-box;
  margin: 0; /* Enables elements to touch sides of browser window. */
  padding: 0;
}

body {

  background-image: url('../images/gradient4.png');
  background-repeat: repeat-x;
  width: 100%;
  max-width: 100%;
}


ul.tabBar li a:hover {background-color: #ddd; cursor: pointer;}
ul.tabBar li a:focus, .active {background-color: #f4e2bc;}
.container {
  width:1334px; /* Defined width keeps divs from falling down the page on resize
                   Change so that border-box works with this. */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 .background {
 	background-image: url("../images/ground.png");
    background-repeat: repeat-x;
  	width: 100%;
  	height: 100%;
  	max-width: 100%;
  	position: absolute;
	top: 778px;
}

.mountains {
    position:absolute;
    top:-300px;
	background-image: url("../images/mountains.png");
    background-repeat: repeat-x;
    height: 300px;
    width:100%
}

.grass {
    position:absolute;
    top:-17px;
	background-image: url("../images/grass.png");
    background-repeat: repeat-x;
    height: 40px;
    width:100%
}



#inspector {
  color: white;
  border-style: inherit;
  border-color: white;
  border-width: inherit;
  width: 300px;
  height: 648px;
  float: left;
}

#gameScreen {
  background-image: url('images/.jpg');
  border:
  border-color: white;
  min-width: 1024px;
  min-height: 648px;
  /*overflow: hidden;*/
  position: relative;
  margin: 0px 0 0 0px;
  background-size: 100%;
  top: 130px;
  z-index: 10;
}

#ufo {
	background-image: url('../images/ufo.png');
	width: 560px;
  	height: 160px;
  	position: absolute;
  	margin: -320px 0 0 240px;
  	z-index: 15;
}

.energyBall {
	background-image: url('../images/energyball.png');
	width: 46px;
	height: 45px;
	left: 500px;
	top: 40px;
	position: absolute;
}

#levelToLoad {
  display: none;
}

#editButton {
  position: fixed;
  top: 15px !important;
  left: 15px !important;
}


#reloadButton {
position: absolute;
top: 90px !important;
left: 15px !important;

}

#goToLevelEditor {
position: absolute;
top: 15px !important;
left: 250px !important;

}


#mainMenuButton {
position: absolute;
top: 15px !important;
left: 200px !important;

}
